autopep8==1.4.4
Click==7.0
entrypoints==0.3
flake8==3.7.9
Flask==1.1.1
Flask-Cors==3.0.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
marshmallow==3.2.2
mccabe==0.6.1
pkg-resources==0.0.0
psycopg2==2.8.4
pycodestyle==2.5.0
pyflakes==2.1.1
PyJWT==1.7.1
pymongo==3.9.0
six==1.13.0
uuid==1.30
uWSGI==2.0.18
Werkzeug==0.16.0
